{% load static %}

<!DOCTYPE html>
<html
	lang="en"
	:class="isDark ? 'dark' : 'light'"
	x-data="{ isDark: false }"
>
<head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <meta name="author" content="Addisu" />
    <title>{% block title %}MMovie{% endblock %}</title>
    <script
        defer
        src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
</head>

 
<body class="bg-gray-100 dark:bg-gray-900">
      <!-- Include navbar component -->
      {% comment %} {% include 'core/navbar.html' %} {% endcomment %}

      <!-- Main content block -->
      <div class="container mx-auto">
          {% block content %}
          {% endblock %}
      </div>


    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const toggle = document.querySelector('#toggle');
            toggle.addEventListener('change', (event) => {
                if (event.target.checked) {
                    document.documentElement.classList.add('dark');
                } else {
                    document.documentElement.classList.remove('dark');
                }
            });
        });
    </script>
</body>
</html>


