<!-- main_content.html -->

{% extends "core/base.html" %}

{% load static %}

{% block content %}

    <!-- Main content block -->
    <div class="flex min-h-screen 2xl:max-w-screen-2xl 2xl:mx-auto 
         2xl:border-x-2 2xl:border-gray-200 dark:2xl:border-zinc-700"
    >
         <div class="container mx-auto">
            <main class="flex-1 py-10 px-5 sm:px-10">

                {% include "core/banner.html" %}

                {% include "core/actors.html" %}
                
                {% include "core/movies.html" %}
            <main>
        </div>

        <!-- Default sidebar content, if any -->
        <aside class="w-1/5 py-10 px-10 min-w-min border-l border-gray-300 dark:border-zinc-700 hidden lg:block">
            {% include 'core/sidebar.html' %}
        <aside>
    </div>
    
{% endblock %}