<!-- main_content.html -->

{% extends "core/base.html" %}

{% load static %}

{% block content %}

    <!-- Main content block -->
    <div class="flex min-h-screen max-w-screen-2xl mx-auto 
         border-x-2 border-gray-200 dark:border-zinc-700"
    >
         <div class="container mx-auto">
            <main class="flex-1 py-10 px-4 sm:px-6">

                {% include "core/banner.html" %}

                {% include "core/actors_list.html" %}
                
                {% include "core/movies.html" %}
            <main>
        </div>

        <!-- Default sidebar content, if any -->
        <aside class="w-1/5 py-8 px-6 min-w-min border-l border-gray-300 dark:border-zinc-700 hidden lg:block">
            {% include 'core/sidebar.html' %}
        <aside>
    </div>
    
{% endblock %}