{% extends "core/base.html" %}
{% load static %}

{% block content %}

<!-- Start Footer Section -->
<footer class="bg-gray-50">
    <div class="container mx-auto py-8">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 mb-8">
            <div>
                <a href="#" class="flex items-center text-red-600 dark:text-white font-bold text-lg">
                    <svg class="h-8 w-8 fill-red-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M10 15.5v-7c0-.41.47-.65.8-.4l4.67 3.5c.27.2.27.6 0 .8l-4.67 3.5c-.33.25-.8.01-.8-.4Zm11.96-4.45c.58 6.26-4.64 11.48-10.9 10.9 -4.43-.41-8.12-3.85-8.9-8.23 -.26-1.42-.19-2.78.12-4.04 .14-.58.76-.9 1.31-.7v0c.47.17.75.67.63 1.16 -.2.82-.27 1.7-.19 2.61 .37 4.04 3.89 7.25 7.95 7.26 4.79.01 8.61-4.21 7.94-9.12 -.51-3.7-3.66-6.62-7.39-6.86 -.83-.06-1.63.02-2.38.2 -.49.11-.99-.16-1.16-.64v0c-.2-.56.12-1.17.69-1.31 1.79-.43 3.75-.41 5.78.37 3.56 1.35 6.15 4.62 6.5 8.4ZM5.5 4C4.67 4 4 4.67 4 5.5 4 6.33 4.67 7 5.5 7 6.33 7 7 6.33 7 5.5 7 4.67 6.33 4 5.5 4Z"></path>
                    </svg>
                    <span class="ml-2">MMovie<span class="text-red-600">.</span></span>
                </a>

                <p class="mt-4 mb-8 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ducimus voluptas quis corporis fugit quas vel, minus earum explicabo dignissimos odio? Inventore rerum quod et corporis quis asperiores corrupti vel.</p>

                <ul class="flex gap-x-4 text-sm">
                    <li><a href="#" class="p-2.5 bg-gray-800/80 rounded-lg text-white hover:bg-red-600/80"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#" class="p-2.5 bg-gray-800/80 rounded-lg text-white hover:bg-red-600/80"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a href="#" class="p-2.5 bg-gray-800/80 rounded-lg text-white hover:bg-red-600/80"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#" class="p-2.5 bg-gray-800/80 rounded-lg text-white hover:bg-red-600/80"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>

            <div class="grid grid-cols-2 md:grid-cols-4 gap-8 mt-8 md:mt-0">
                <div class="text-sm">
                    <h3 class="font-bold mb-4 text-gray-800">Company</h3>
                    <ul>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">About us</a></li>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">Services</a></li>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">Blog</a></li>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">Contact us</a></li>
                    </ul>
                </div>

                <div class="text-sm">
                    <h3 class="font-bold mb-4 text-gray-800">Support</h3>
                    <ul>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">Support</a></li>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">Knowledge base</a></li>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">Live chat</a></li>
                    </ul>
                </div>

                <div class="text-sm">
                    <h3 class="font-bold mb-4 text-gray-800">Company</h3>
                    <ul>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">Jobs</a></li>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">Our team</a></li>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">Leadership</a></li>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="text-sm">
                    <h3 class="font-bold mb-4 text-gray-800">Movies</h3>
                    <ul>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">Similar Movies</a></li>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">Favorite Movies</a></li>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">Popular Movies</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="border-t mt-8 pt-4">
            <div class="flex flex-col lg:flex-row items-center justify-between mt-4">
                <div class="col-span-6 mb-4 lg:mb-0">
                    <p class="text-center text-gray-600 lg:text-start">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>.
                        All Rights Reserved. &mdash; Designed with love by <span class="text-gray-800">Addisu H.</span>
                    </p>
                </div>

                <div class="flex text-center lg:text-end">
                    <ul class="list-none inline-flex ms-auto">
                        <li class="me-4"><a href="#" class="text-gray-600 hover:text-gray-800">Terms &amp; Conditions</a></li>
                        <li><a href="#" class="text-gray-600 hover:text-gray-800">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Section -->
{% endblock %}
