{% extends 'core/base.html' %}

{% block content %}
<div class="text-gray-700 dark:text-gray-200">

    <main class="main-content">
        <!-- Default main content, if any -->
        {% include 'content.html' %}
    </main>

    <aside class="sidebar">
        {% block sidebar %}
        <!-- Default sidebar content, if any -->
        {% include 'sidebar.html' %}
    </aside>

    <footer>
        <!-- Your footer content -->
        {% comment %} {% include 'footer.html' %} {% endcomment %}
    </footer>
</div>
{% endblock %}
