<!-- Signup form -->
<form id="register-form" method="post" enctype="multipart/form-data" action="{% url 'core-api:auth-register-list' %}">
    {% csrf_token %}
    <div class="space-y-6">
        <div class="relative mb-4">
            <label class="text-gray-800 text-sm mb-2 block">Username</label>
            <div class="flex items-center border border-gray-300 rounded-md overflow-hidden">
                <input name="username" type="text" class="text-gray-800 bg-white w-full text-sm px-4 py-3 outline-none" placeholder="Enter username" required>
                <span class="px-3 text-gray-500"><i class="fas fa-user"></i></span>
            </div>
        </div>

        <div class="relative mb-4">
            <label class="text-gray-800 text-sm mb-2 block">First Name</label>
            <div class="flex items-center border border-gray-300 rounded-md overflow-hidden">
                <input name="first_name" type="text" class="text-gray-800 bg-white w-full text-sm px-4 py-3 outline-none" placeholder="Enter first name" required>
                <span class="px-3 text-gray-500"><i class="fas fa-id-card"></i></span>
            </div>
        </div>

        <div class="relative mb-4">
            <label class="text-gray-800 text-sm mb-2 block">Last Name</label>
            <div class="flex items-center border border-gray-300 rounded-md overflow-hidden">
                <input name="last_name" type="text" class="text-gray-800 bg-white w-full text-sm px-4 py-3 outline-none" placeholder="Enter last name" required>
                <span class="px-3 text-gray-500"><i class="fas fa-id-card"></i></span>
            </div>
        </div>

        <div class="relative mb-4">
            <label class="text-gray-800 text-sm mb-2 block">Avatar</label>
            <div class="flex items-center border border-gray-300 rounded-md overflow-hidden">
                <input name="avatar" type="file" class="text-gray-800 bg-white w-full text-sm px-4 py-3 outline-none" placeholder="Choose avatar">
                <span class="px-3 text-gray-500"><i class="fas fa-image"></i></span>
            </div>
        </div>

        <div class="relative mb-4">
            <label class="text-gray-800 text-sm mb-2 block">Email</label>
            <div class="flex items-center border border-gray-300 rounded-md overflow-hidden">
                <input name="email" type="email" class="text-gray-800 bg-white w-full text-sm px-4 py-3 outline-none" placeholder="Enter email" required>
                <span class="px-3 text-gray-500"><i class="fas fa-envelope"></i></span>
            </div>
        </div>

        <div class="relative mb-4">
            <label class="text-gray-800 text-sm mb-2 block">Password</label>
            <div class="flex items-center border border-gray-300 rounded-md overflow-hidden">
                <input name="password" type="password" class="text-gray-800 bg-white w-full text-sm px-4 py-3 outline-none" placeholder="Enter password" required>
                <span class="px-3 text-gray-500"><i class="fas fa-lock"></i></span>
            </div>
        </div>

        <div class="flex items-center space-x-2">
            <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
            <label for="remember-me" class="text-gray-800 ml-3 block text-sm">
                I accept the <a href="#" class="text-blue-600 font-semibold hover:underline ml-1">Terms and Conditions</a>
            </label>
        </div>
    </div>

    <div class="!mt-12">
        <button type="submit" class="w-full py-3 px-4 text-sm tracking-wider font-semibold rounded-md text-gray-800 bg-blue-600 hover:bg-blue-700 focus:outline-none">
            Create an account
        </button>
    </div>
    
      <p class="text-gray-800 text-sm mt-6 text-center">Already have an account? <a href="#" class="text-blue-600 font-semibold hover:underline ml-1">Login here</a></p>
</form>
